body,
html{
    font-family: 'Oswald', sans-serif ;
}


header{
    background-color: white;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.main{
    background-image: url('../images/hw-background.jpg');
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    position: fixed;
}



nav{
    position: fixed;
    margin: 0;
    top: 4%;
    left: 28%;
}

nav>a{
    color: brown;
    text-decoration: none;
    margin: 10px;
}

.nav2{
    position: fixed;
    margin: 0;
    top: 4%;
    left: 75%;
    
}

.nav2>a{
    text-decoration: none;
    color: brown;
}

.nav2>i{
    color: brown;
    position: fixed;
    top: 4.5%;
    left: 73.5%;
}

.dropdown{
    background-color:rgb(70, 44, 44);
    padding: 25px;
    position: fixed;
    top: 7%;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


.dropdown>p{
    top: 5%;
    font-size: small;
    left: 40%;
}

.dropdown>i{
    color: white;
    position: fixed;
    top: 8.5%;
    left: 50%;
}

h4{
    color: white;
    position: absolute;
    top: 34%;
    left: 33%;
    font-size: 3.5rem;
    font-weight: 500;
}

p{
    color: white;
    position: absolute;
    top: 47%;
    left: 32%;
    font-size: 1.8rem;
    font-weight: 200;
}

i{
    position: absolute;
    left: 60.5%;
    top: 51.5%;
    color: white;
}


