html,
body{
    margin: 0;
    color: white;
    font-size: 1.8vh;
    
}

img{
    height: 10vh;
    position: fixed;
    margin-left: 30vw;
    margin-top: 0;
    
}


header{
    
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color:black;
    height: 10vh;
    width: 100vw;
   
}

nav{
    display: flex;
    align-items: flex-end;
    margin-top: 15vh;
    margin-right: 10vw;
    

}

nav>a{
    font-family: 'Permanent Marker', cursive;
    color:white;
    margin-left: 2ch;
    margin-top: .5em;
    text-decoration: none;
    text-transform: uppercase;
    
    

}


#socials{
    display: flex;
    flex-direction: column;
    margin-left: 30vw;
    margin-bottom: 0.5em;
    
   
}

div>span>a{
    color: white;
    text-decoration: none;
    
}



#main{
    font-family: 'Permanent Marker', cursive;
    color:#6c89db;
    background-image: url("../images/alexotos.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

.paragraphs{
    font-family: 'Concert One', cursive;
    position: absolute;
    top: 35%;
    left: 22%;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
    background-color: rgba(2, 2, 10, 0.445);
    border-style: double;
    border-color: black;
}

h1{
    color: #6c89db;
    font-family: 'Concert One', cursive;
    position: absolute;
    top: 15%;
    left: 27%;
    font-size: 75px;
    text-align: center;
}

/*intro page*/

.introcontainer{
    font-family: 'Permanent Marker', cursive;
    color:black;
    background-image: url("../images/DSC08163-1400x825.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    
}

.introcontainer>div>h1{
    color: honeydew;
    position: absolute;
    top: 15%;
    left: 25%;
    font-size: 50px;
    
}

.introcontainer>div>p{
    font-family: 'Fredoka One', cursive;
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 18px;
    font: bold;
    text-align: center;
    padding: 10px;
    background-color: rgba(240, 255, 240, 0.493);
    border-style: groove;
    border-color: grey;
}






/*faq page*/
.faqcontainer{
    font-family: 'Permanent Marker', cursive;
    color:white;
    background-image: url("../images/wp8737355.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    
}

.faqcontainer>div>h1{
    color: white;
    position: absolute;
    top: 15%;
    left: 45%;
    font-size: 75px;
}

.faqcontainer>div>p{
    color: black;
    font-family: 'Fredoka One', cursive;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgba(240, 255, 240, 0.514);
    border-style: groove;
    border-color: grey;
}
.faqcontainer>div>p:nth-child(2){
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 20px;
    
    text-align: center;
}

.faqcontainer>div>p:nth-child(3){
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 20px;
    
    text-align: center;
}

.faqcontainer>div>p:nth-child(4){
    position: absolute;
    top: 90%;
    left: 10%;
    font-size: 20px;
    
    text-align: center;
}

/*services page*/

.servicescontainer{
    font-family: 'Permanent Marker', cursive;
    color:black;
    background-image: url("../images/dyi_1_blog.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    
}

.servicescontainer>div>h1{
    color: honeydew;
    position: absolute;
    top: 15%;
    left: 42%;
    font-size: 75px;
    
}

.servicescontainer>div>p{
    font-family: 'Fredoka One', cursive;
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    background-color: rgba(240, 255, 240, 0.568);
    border-style: groove;
    border-color: grey;
}
.servicescontainer>div>p:nth-child(2){
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    
}

.servicescontainer>div>p:nth-child(3){
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    
}




/*contact page*/


/*footer*/

img{
    height: 10vh;
    position: fixed;
    margin-left: 30vw;
    margin-top: 0;
    
}


footer{
    
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color:black;
    height: 10vh;
    width: 100vw;
   
}

.footer{
    display: flex;
    align-items: flex-end;
    margin-top: 15vh;
    margin-right: 10vw;
    

}

.footer>a{
    font-family: 'Permanent Marker', cursive;
    color:white;
    margin-left: 2ch;
    margin-top: .5em;
    text-decoration: none;
    text-transform: uppercase;
    
    

}


#socials{
    display: flex;
    flex-direction: column;
    margin-left: 30vw;
    margin-bottom: 0.5em;
    
   
}
